:root {
    --clr-primary-1: #883AE1;
    --clr-primary-2: #E6D6FC;
    --clr-gray-1: #E5EAF0;
    --clr-gray-2: #6C727F;
    --clr-white-1: #FAFAF9;
    --clr-white-2: #FFFFFF;
    --clr-blue-dark-1: #20293A;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--clr-white-1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.card {
    width: 368px;
    background-color: var(--clr-white-2);
    border-radius: 10px;
}

.content__img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 16px;
}

.content__tag {
    font-size: 0.625rem;
    background-color: var(--clr-primary-2);
    color: var(--clr-primary-1);
    padding: 6px 16px;
    border-radius: 13px;
}

.content__title {
    margin-top: 16px;
    font-size: 1.125rem;
    color: var(--clr-blue-dark-1s);
}

.content__paragraph {
    font-size: 0.875rem;
    color: var(--clr-gray-2);
    margin-top: 6px ;
}

.content {
    padding: 16px 16px 20px 16px;
    border-bottom: 1px solid var(--clr-gray-1);
}

.card__footer {
    padding: 16px 16px 20px 16px;
}

.footer__name {
    font-size: 0.75rem;
    color: var(--clr-gray-2)
}

@media only screen and (min-width: 1280px) {
   
}

.border {
    border: 1px solid var(--clr-blue-dark-1);
}